<h3>Reviews of <%= review.pub.name %></h3>

<%- reviews.each do |review| -%>
<div>
  <p>Reviewer: <%= review.reviewer.twitterid %></p>
  <p><%= review.text %> created at <%=review.created_at %>.</p>
</div>
<%- end -%>

<h3>Write a review</h3>
<p>You are logged in as <%= current_reviewer.twitterid %></p>
<form action="/pubs/<%= pub.id %>/reviews" method="POST">
<%= csrf_tag %>
  <p>
  <input type="hidden" name="review[reviewer_id]" id="reviewer_id" 
  value="<%= current_reviewer.id %>"></p>
  <p><label for="review_text">Your review:</label> <input type="date" name="date[date]"/></p>
  <textarea name="review[text]" id="review_text">
  </textarea>
  <p><input type="submit" name="submit" value="Add your review"></p>
</form>
